@font-face {
  src: url(../../fonts/Nautilus.otf);
  font-family: 'Nautilus';
}

@font-face {
  src: url(../../fonts/RobotoCondensed-Light.ttf);
  font-family: 'Roboto';
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto';
}

.wallpaper {
  position: relative;
  height: 300px;
  background: url(../../images/images_contacts/top2.jpg) center center/cover no-repeat;
}

.wallpaper .top {
  max-width: 1150px;
  min-height: 95vh;
  margin: 0 auto;
  position: relative;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.wallpaper .top .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.wallpaper .top .navigation .nav {
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.wallpaper .top .top_info {
  text-align: center;
  position: relative;
  position: absolute;
  top: 200px;
}

.wallpaper .top .top_info h2 {
  color: black;
  font-family: 'Nautilus';
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.logo_div {
  width: 100px;
  height: 100px;
  padding: 50px;
}

.logo {
  background: url(../../images/logo.png) center center/contain no-repeat;
  position: absolute;
  top: -125px;
  right: 0;
  left: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.middle_contacts .headline {
  color: black;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
}

.middle_contacts .strip {
  background-color: #fe1a62;
  height: 2px;
  width: 250px;
  margin: 16px auto;
}

.middle_contacts {
  max-width: 1100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.middle_contacts .text_contacts {
  margin-top: 30px;
  padding: 0vw 5vw 0vw 5vw;
}

.middle_contacts .text_contacts p {
  padding: 10px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1100px;
  margin-top: 30px;
}

.flex_staff {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  margin: 0 auto;
}

.flex_staff .staff_text {
  margin-left: 10px;
}

.flex_staff .staff_text .staff_info {
  text-align: left;
  margin-bottom: 20px;
}

.flex_staff .staff_text .staff_info p {
  font-size: 14px;
}

.flex_staff .staff_text .staff_email p {
  font-size: 12px;
}

.staff_foto_1 {
  background: url(../../images/images_contacts/man.jpg) center center/cover no-repeat;
  min-width: 135px;
  min-height: 120px;
  max-height: 120px;
  border-right: 3px #fc4881 solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.staff_foto_2 {
  background: url(../../images/images_contacts/woman.jpg) center center/cover no-repeat;
  min-width: 135px;
  min-height: 120px;
  max-height: 120px;
  border-right: 3px #fc4881 solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flex_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 900px;
  margin: 30px auto;
}

.flex_contacts {
  width: 50%;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  font-size: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
}

.flex_contacts .contacts_icon {
  margin-top: 30px;
  min-width: 250px;
}

.contacts_adres,
.contacts_email,
.contacts_tel {
  padding-bottom: 15px;
}

.flex_contacts [class="contacts_adres"]::before {
  content: "";
  position: absolute;
  left: -30px;
  background: url(../../images/placeholder.png) center center/cover no-repeat;
  height: 20px;
  width: 20px;
}

.flex_contacts [class="contacts_email"]::before {
  content: "";
  position: absolute;
  left: -30px;
  background: url(../../images/mail.png) center center/cover no-repeat;
  height: 20px;
  width: 20px;
}

.flex_contacts [class="contacts_tel"]::before {
  content: "";
  position: absolute;
  left: -30px;
  background: url(../../images/telephone.png) center center/cover no-repeat;
  height: 20px;
  width: 20px;
}

.form {
  width: 50%;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  margin: 0 auto;
}

.form p {
  padding: 10px;
  padding-left: 0;
}

[type="text"],
[type="number"],
[type="email"],
[type="tel"],
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px inset #989898;
  padding: 8px 8px;
  margin-bottom: 8px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  outline: none;
  box-sizing: border-box;
  resize: none;
}

[type="submit"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px inset #989898;
  padding: 8px 8px;
  margin-bottom: 8px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  outline: none;
  background: rgba(255, 209, 219, 0.585);
}

@media (max-width: 765px) {
  [type="submit"] {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .staff_foto_1 {
    margin-bottom: 20px;
  }
}

@media (max-width: 475px) {
  h1 {
    font-size: 22px;
  }
  .top_info h2 {
    font-size: 20px;
  }
  .flex_2 {
    margin: 10px auto;
  }
  .flex_contacts {
    margin-left: 60px;
  }
}
/*# sourceMappingURL=style_contacts.css.map */